<div style="display: flex; align-items: center;">
  <div class="canvas-container">
    <canvas
      id="stage"
      width="1400"
      height="700"
      (mousedown)="mousedown(true)"
      (mouseup)="mousedown(false)"
      (mousemove)="getCursor($event)"
      (touchstart)="mousedown(true); getCursor($event)"
      (touchend)="mousedown(false)"
      (touchmove)="getCursor($event)">
    </canvas>
    <div class="resize-handle"></div>
  </div>
  <div style="display: flex; flex-direction: column">
    <div>
      <button mat-icon-button (click)="openConfigDialog()">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-raised-button (click)="selectPreset()">Preset</button>
      <button mat-raised-button (click)="clearCanvas()">Clear!</button>
    </div>
    <h1>speed: {{Math.round(Math.hypot(Math.abs(this.config.lastX - this.config.currentX), Math.abs(this.config.lastY - this.config.currentY)))}}</h1>
  </div>
</div>
